includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    parallel:
        maximumNumberOfProcesses: 1
    paths:
        - src
        - config
    excludePaths:
        - vendor
        - compiled
        - node_modules
    bootstrapFiles:
        - vendor/autoload.php
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Function wp_#'
        - '#Function acf_#'
        - '#Function get_fields not found#'
        - '#argument\.type#'
        - '#arguments\.count#'