{
    "theme_name": "My WordPress Theme",
    "theme_slug": "my-wordpress-theme",
    "namespace": "MyWordPressTheme",
    "dev_url": "http://my-wordpress-theme.local",
    "author_name": "Rafael Alex",
    "author_email": "your@email.com",
    "author_uri": "https://rafaelalex.de",
    "repo_name": "raaaf/my-wordpress-theme"
}