@import "./fonts.css";

@import "tailwindcss";
@source "../templates";

@theme {
  --font-sans: "Lato", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --brand-primary: oklch(0.72 0.11 178);
}

@layer base {
  ::selection {
    background: var(--color-gray-100);
  }

  :root {
    -webkit-tap-highlight-color: transparent;
  }
}
